asdf
awkward
awkward-pandas
boost-histogram
dask[dataframe,distributed]
hist[plot]
jacobi
joblib
logzero
matplotlib
mplhep
numpy
optuna
pandarallel
pandas
particle
pdg
pidcalib2
pyarrow
PyYAML
scikit-learn
scipy
tabulate
tensorflow
toml
tqdm
uproot
vector
zfit
